body{
    margin: 0;                          /*Margin for all body elements*/
    font-family: 'Poppins', sans-serif;   /*Declare the font family or name*/
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
.blue-highlight{
    color: blueviolet;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("../images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, Salmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
#icenter-link{
    text-decoration: none;
}

.dream-area{
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.more-experience-area{
    background-image: url("../images/exp-bg-rotated.png");
    background-repeat: no-repeat;
    background-position: right;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, Salmon,tomato);
    border-image-slice: 1;

}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blueviolet,cyan);
    border-image-slice: 1;
}
#system-support-engineer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, grey);
    border-image-slice: 1;

}
#freelance-area{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,green,gold);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}